services:
  chatshare:
    image: chatshare
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    develop:
      watch:
        - action: rebuild
          path: .
